.appWrapper {
  width: 100vw;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
}

.control {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.loadingContainer {
  padding: 24px;
  text-align: center;
}
